@font-face {
  font-family: 'tt-r';
  src: url('TUIType-Regular.eot?#iefix') format('embedded-opentype'),  url('TUIType-Regular.woff') format('woff'), url('TUIType-Regular.ttf')  format('truetype'), url('TUIType-Regular.svg#TUIType-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
